@import "tailwindcss";

:root {
    /* Colors */
    --color-primary-blue: #0D5EA8;
    --color-dark-navy: #0A2342;
    --color-steel-gray: #6B7280;
    --color-light-gray: #D1D5DB;
    --color-white: #FFFFFF;

    /* Fonts */
    --font-en: 'Montserrat', sans-serif;
    --font-th: 'IBM Plex Sans Thai', sans-serif;

    --font-primary: 'Montserrat', 'IBM Plex Sans Thai', sans-serif;
}

body {
    font-family: var(--font-primary);
}